body {
    background-color: #e7faff;
    font-size: 15px;
    font-family: helvetica, arial, sans-serif;
    color: black;
}

div {
    background-color: white;
}

.section3 {
    background-color: lime;
    font-family: times;
}