body {
    background-color: #fff;
    font-size: 13px;
    font-family: avenir, helvetica, sans-serif;
    color: black;
    text-align: left;
    width: 400px;
    margin-left: 200px;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: white;
}

.header {
    font-family: avenir, helvetica, sans-serif;
    height: 40px;
    width: 400px;
    font-size: 36px;
    margin-bottom: 20px;
}

.subhead {
    font-family: avenir, helvetica, sans-serif;
    font-size: 16px;
    width: 400px;
}

.sidebar {
    font-family: avenir, helvetica, sans-serif;
	font-size: 13px;
	position: fixed;
	background-color: #6ab695;
	color: white;
	width: 170px;
	height: 100%;
	top: 0px;
	left: 0px;
	margin-left: 0;
	text-align: left;
	margin: 0 auto;
	box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, .5);

}

.sidebarhead {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
}

ol {
    list-style-type: none;
    text-align: left;
    width: 100;
}