body {
    background-color: #fff;
    font-size: 13px;
    font-family: avenir, helvetica, sans-serif;
    color: black;
    text-align: left;
    width: 400px;
    margin-left: 200px;
    margin-top: 30px;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: white;
}

.header {
    font-family: avenir, helvetica, sans-serif;
    height: 40px;
    width: 400px;
    font-size: 36px;
    margin-bottom: 20px;
}

.subhead {
    font-family: avenir, helvetica, sans-serif;
    font-size: 16px;
    width: 400px;
}

.sidebar {
    font-family: avenir, helvetica, sans-serif;
	font-size: 13px;
	position: fixed;
	color: white;
	top: 0px;
	left: 10px;
	margin-top: 30px;
	margin-left: 0;
	text-align: center;
	box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, .5);
    width: 150px;
    height: 150px;
    background-color: #6ab695;
    border-radius: 100px;

}

.sidebarhead {
    font-size: 16px;
    margin-top: 33px;
    margin-left: 0px;
}

ol {
    list-style-type: none;
    text-align: center;
    width: 120;
    margin-left:-24;
    margin-top:1;
}