body {
    background-color: #fff;
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
    color: black;
    text-align: left;

}

a {
    color: black;
    text-decoration: underline;
}


h1{
    text-align: center;
}

a:hover {
    color: #f57955;
}


.section1 {
    width: 100px;
    height: 30px;
    color: white;
}