body {
    background-color: #f8f3eb;
    font-size: 13px;
    font-family: avenir, helvetica, sans-serif;
    color: black;
    text-align: left;
    width: 400px;
    margin-left: 200px;
    margin-top: 30px;
}