body {
    background-color: #d7d7d7;
	margin: 0 auto;
	padding: 0px;
	line-height: 20px;
	font-size: 13px;
	color: #696969;
}

h3, h4{
    font-family: Helvetica, sans-serif;
}


h1 {
    font-size: 19;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: .1em;
    margin-bottom: -5px;
    color: #757575;
}

h2 {
    font-size:14;
    font-style: normal;
    margin-bottom: -15px;
    margin-left: 3px;
}

p{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
}

a:hover {
    color:#757575;
}


a {
    color: #ececec;
}

.container {
  max-width: 500px;
  height:100%;
  margin-right: auto;
  padding: 3px;
}

.content {
    margin-left: 220px;
}
a:link, a:visited {
    display: block;
    color: #696969;
    width: 150px;
    text-align: left;
    text-decoration: underline;
}

a:hover, a:active {
    color: white;
}

ul {
    list-style-type: none;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.container sidebar-sticky {
	width: 173px;
	position: absolute;
	left: 62px;
	top: 259px;
	color: black;
}

.sidebar {
    font-family: helvetica, sans-serif;
	font-size: 16px;
	position: fixed;
	background-color: #e8e8e8;
	color: #696969;
	width: 175px;
	height: 485px;
	top: 20px;
	left: 20px;
	box-shadow: 3px 3px 8px .5px ;
	border-radius: 1em 0em ;
}
