h1, h2, h3, h4{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

a:hover {
    color:#57aba4;
}

a {
    color:black;
}

.sidebar {
     font-family: "Trebuchet MS", Helvetica, sans-serif;
     font-size: 16px;
}

.container {
  max-width: 550px;
  margin-left:  auto;
  margin-right: auto;
  padding: 3px;
}

.h1 {
    text-decoration: none;
}

a:link, a:visited {
    display: block;
    font-weight: none;
    color: black;
    background-color: #888888;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: underline;
}

a:hover, a:active {
    background-color: #d4d4d4;
}

ul {
    list-style-type: none;
}



.sidebar {
	width: 150px;
	position: absolute;
	left: 3px;
	top: 3px;
	color: black;
	background-color: #888888;
}

.container sidebar-stickey {
	width: 150px;
	position: absolute;
	left: 62px;
	top: 259px;
	color: black;
}
}